main {
  width: 100%;
}

.teaching,
.assignments {
  justify-content: center;
}

h3 {
    text-align: center;
}

.featured-projects {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1.5rem;
  margin-bottom: calc(var(--space-large) * 3);
}

.card {
  /* box-shadow: var(--shadow-md); */
  flex: 0 0 300px;
  scroll-snap-align: start;
  padding: var(--space-small);
  text-align: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  &.description {
    margin-bottom: calc(var(--space-large) * 4);
  }
}
