@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Inconsolata:wght@200..900&family=Margarine&display=swap");

:root {
  --shadow-sm: 0 1px 2px oklch(0.2 0 0 / 0.1), 0 2px 4px oklch(0.2 0 0 / 0.06);
  --shadow-md:
    0 2px 4px var(--color-link-hover), 0 6px 12px oklch(0.2 0 0 / 0.07),
    0 16px 32px oklch(0.2 0 0 / 0.05);

  --space-small: var(--spacing-sm);
  --space-medium: var(--spacing-md);
  --space-large: var(--spacing-lg);

  --font-family-body: "Inconsolata", var(--font-family-sans);
  --font-family-headings: "Archivo Narrow", var(--font-family-mono);
  --font-family-accent: "Margarine", var(--font-family-body);
  --border-radius: var(--radius-md);

  --padding: clamp(1.5rem, 4vw, 2.5rem);

  --font-family-sans: system-ui, sans-serif;
  --font-family-mono: monospace;
  --font-size-xs: 0.3rem;
  --font-size-sm: 0.4rem;
  --font-size-md: clamp(0.6rem, 0.35rem + 1.3333vw, 1.35rem);
  --font-size-lg: clamp(0.72rem, 0.42rem + 1.6vw, 1.62rem);
  --font-size-xl: clamp(0.864rem, 0.504rem + 1.92vw, 1.944rem);
  --font-size-2xl: clamp(1.0368rem, 0.6048rem + 2.304vw, 2.3328rem);
  --font-size-3xl: clamp(1.2442rem, 0.7258rem + 2.7648vw, 2.7994rem);

  --line-height-open: 1.6;
  --line-height-tight: 1.2;
  --line-height-display: 1.1;

  --font-size-notes: var(--font-size-sm);
  --font-size-body: var(--font-size-md);
  --font-size-heading-sm: var(--font-size-lg);

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  --radius-md: 6px;
  --radius-lg: 10px;

  --transition-base: 0.2s ease;

  --icon-size-md: 32px;

  --outline-width: 2px;
}
