nav {
  font-family: var(--font-family-accent);
  font-size: var(--font-size-body);
  line-height: var(--line-height-open);
  background-color: var(--color-primary);
  padding: var(--space-small);
  padding-left: var(--space-small);

  &:is(.home, .editorial-page nav) {
    display: flex;
    justify-content: space-between;
  }

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }

  li {
    list-style: none;
  }

  a {
    color: var(--color-text);

    /* :is([aria-current]) {
      color: var(--color-accent);
      } */
  }

  :not([aria-current]) {
    text-decoration: none;
    &:hover {
      color: var(--accent-600);
    }
  }

  details {
    float: inline-end;
  }
}
