/* I created a new div to test what would happen when adding overflow:hidden,  to fix it I just commented the property to keep a record of it while also showing that it was added before. The issue was that my div bug became the scroll container of the sticky element, meaning that my headings had nowhere to move and stayed at their initial position.*/
/* .bug {
  overflow: hidden;
} */

.page-title,
h2 {
  justify-self: center;
  position: sticky;
  top: 2.9rem;
  background-color: var(--accent-500);
  padding: var(--space-small) var(--space-large);
  border-radius: var(--radius-md);
}

.page-title {
  text-align: center;
  background-color: var(--accent-500);
  top: 0;
}

.assignments {
  .card {
    padding: var(--space-medium);

    a {
      all: unset;
    }

    img {
      width: 250px;
      display: block;
      margin: 10px;
    }
  }

  .description-details {
    margin: var(--space-large);
  }
}

@media (prefers-color-scheme: dark) {
  .page-title, h2 {
    color: black;
  }
}
