body {
  display: grid;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-display);
  color: var(--color-text);
  background-color: var(--color-background);
  /* line-height: var(--space-lg); */

  :is(h1, h2) {
    font-family: var(--font-family-headings);
    font-size: var(--font-size-heading-sm);
    line-height: var(--line-height-tight);

    /* padding: var(--space-small); */
  }

  section {
    margin-bottom: calc(var(--space-large) + 10px);
  }

  footer {
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0;
    height: 70px;
  }
}
