/* @import url("./tokens/colors.css");
@import url('../tokens/variables.css');

body {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: var(--space-md);
  padding: var(--padding);

  a {
    color: var(--color-text);

    &:hover {
      color: var(--color-accent);
    }
  }

  .site-nav {
    padding: var(--padding);
    margin-bottom: var(--space-lg);
  }

  .board-header {
    align-content: center;
    margin: var(--spacing-sm);
    padding: var(--padding);

    h1 {
      font-size: var();
    }

    p {
      color: var(--color-text);
      line-height: var(--space-md);
    }
  }

  .card-group {
    margin-bottom: var(--space-lg);

    h2 {
      background-color: var(--color-background);
      color: var(--color-text);
      margin: var(--space-lg);
    }

    .cards {
      display: grid;
      gap: calc(var(--space-md) - 10px);
      grid-template-columns: 1fr 1fr;
    }

    .card {
      background-color: var(--color-primary);
      padding: var(--padding);
      border-radius: var(--radius-lg);
      box-shadow:
        1px 3px 5px var(--color-accent),
        1px 3px 5px rgba(248, 240, 228, 0.808);

      .card-tag {
        font-size: var(--font-size-sm);
        padding: calc(var(--padding) - 25px);
        margin: var(--spacing-sm);
        background-color: var(--color-accent);
        border-radius: calc(var(--radius-md) - 5px);
      }
    }
    .card-meta {
      display: flex;
      justify-content: space-between;
      margin-top: var(--space-md);

      span,
      a {
        font-size: calc(var(--font-size-md) - 0.1rem);
        font-style: italic;
      }
    }
  }

  .board-footer {
    align-content: center;
    padding: var(--padding);
    color: var(--color-text);
    border-top: 1px solid var(--color-accent);
  }
} */
