body {
  display: grid;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-display);
  color: var(--color-text);
  background-color: var(--color-background);

  :is(h1, h2) {
    font-family: var(--font-family-headings);
    font-size: var(--font-size-heading-sm);
    line-height: var(--line-height-tight);
  }

  section {
    margin-bottom: calc(var(--space-large) + 10px);
  }

  footer {
    background-color: var(--color-accent);
    height: 70px;
  }
}
