.editorial-page .layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  margin: var(--space-large);
  display: grid;
  grid-template-areas:
    "main"
    "sidebar";
  gap: var(--space-medium);

  main {
    flex: 1;
    grid-area: main;
    margin: var(--space-large);

    p {
      text-align: justify;
    }
  }

  aside {
    margin-left: var(--space-large);
    padding: calc(var(--space-large) * 2);
    grid-area: sidebar;
    background-color: var(--color-surface);
  }
}

@media (min-width: 699px) {
  .editorial-page .layout {
    grid-template-areas: "main sidebar";
    grid-template-columns: 2fr 1fr;
  }
}
